<div id="comment-<%= comment.id %>" class="comment-box">

  <p>
    <% if admin? %>
      <span class="">
        <%= link_to '', [comment.post, comment],
                                       method: :delete,
                                       data: { confirm: 'Delete comment?' },
                                       class: "glyphicon glyphicon-remove pull-right" %>
      </span>
    <% end %>

    <strong> <%= comment.commenter %> </strong> on
    <span class="twt-clr"> <%= comment.created_at.strftime("%b %d, %l:%M %p") %> </span> said:
  </p>

  <p>
    <%= comment.body.html_safe %>
  </p>

</div>