<div id="comment-<%= comment.id %>" class="comment-box">
  <p>
    <strong> <%= comment.commenter %> </strong> on <span class="twt-clr"> <%= comment.created_at.strftime("%b %d, %l:%M %p") %> </span> said:
  </p>

  <p>
    <%= comment.body.html_safe %>
  </p>

  <% if admin? %>
    <p>
      <%= link_to 'delete', [comment.post, comment],
                                     method: :delete,
                                     data: { confirm: 'Delete comment?' } %>
    </p>
  <% end %>
</div>