<%= form_for([@post, @post.comments.build], remote: true) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter, :class => "col-xs-3" %>
  </p>

  <p>
    <br>
    <%= f.text_area :body, :id => 'comment_editor' %>
  </p>

  <p>
    <%= f.submit "Post Comment", :class => "btn btn-info" %>
  </p>
<% end %>
