<%= form_for([@post, @post.comments.build], remote: true) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter, :class => "input-sm" %>
    <br>
  </p>

  <p>
    <%= f.text_area :body, :id => 'comment_editor' %>
  </p>

  <p>
    <%= f.submit "Post Comment", :id => 'submit_comment', :class => "btn btn-success" %>
  </p>
<% end %>
