<section id="posts" class="container">
  <h1 class="text-center">Hello World!</h1>
    <div class="text-center">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
      <% if admin? %>
        <%= link_to 'New Post', new_post_path %>
      <% end %>
    </div>
  <div class="grid-container">
    <% @posts.reverse_each do |post| %>
      <div class="block">
        <h3 class="text-center"> <%= post.title %> </h3>
        <h5 class="text-center"><em class="date"> <%= post.updated_at.strftime("%b %d. %Y") %> </em></h5>
        <p>
          <%= extract_paragraph(post.content) %>
         <div class="text-center"><%= link_to 'READ FULL ARTICLE', post_path(post), :class => "read-lnk" %></div>
        </p>
        <% if admin? %>
          <div class="text-center">
            <span>
                   <%= link_to 'Edit', edit_post_path(post) %>
                   <%= link_to 'Delete', post_path(post),
                                         method: :delete,
                                         data: { confirm: 'Delete?' }%>
            </span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>