<section id="posts" class="container">
    <div class="text-center">
      <span class="notice">
        <% if flash[:notice] %>
          <%= flash[:notice] %>
        <% end %>
      </span>
    </div>
  <div class="grid-container debug">
    <% @posts.reverse_each do |post| %>
      <div class="block">
        <h3 class="text-center"> <%= post.title %> </h3>
        <h5 class="text-center date"> <%= post.created_at.strftime("%b %d. %Y") %> </h5>
        <p>
          <%= extract_paragraph(post.content) %>
         <div class="text-center"><%= link_to 'READ FULL ARTICLE', post_path(post), :class => "read-lnk" %></div>
        </p>
        <% if admin? %>
          <div class="text-center">
            <span>
             <%= link_to '', edit_post_path(post), :class => "glyphicon glyphicon-edit" %>
             <%= link_to '', post_path(post),
                                   method: :delete,
                                   data: { confirm: 'Delete?' },
                                   :class => "glyphicon glyphicon-remove"%>
            </span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>