<section id="posts" class="container">
  <div>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>
  <h1>My Blog!</h1>
    <% if admin? %>
      <%= link_to 'New Post', new_post_path %>
    <% end %>
  <div class="grid-container">
    <% @posts.each do |post| %>
      <div class="block">
        <h3 class="text-center"> <%= post.title %> </h3>
        <h5 class="text-center"><em class="date"> <%= post.updated_at.strftime("%b %d. %Y") %> </em></h5>
        <p>
          <%= post.content.html_safe %>
         <div><%= link_to 'Read more', post_path(post) %></div>
        </p>
        <% if admin? %>
          <span>
                 <%= link_to 'Edit', edit_post_path(post) %>
                 <%= link_to 'Delete', post_path(post),
                                       method: :delete,
                                       data: { confirm: 'Delete?' }%>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
</section>