<footer>
  <div class="text-center">
    <hr>
    <p class='foot-content'>
      © 2016 Pratik Shah
    </p>
    <div>
      <% if session[:user_id] %>
        <%= link_to '', :logout, :class => "glyphicon glyphicon-log-out" %>
      <% else %>
        <%= link_to '', :login, :class =>"glyphicon glyphicon-user" %>
      <% end %>
      <span class="mrg-lft-rgt"></span>
      <% if admin? %>
        <%= link_to '', new_post_path, :class => "glyphicon glyphicon-file" %>
      <% end %>
    </div>
    <ul class="social-lnks">
      <li><a href="https://twitter.com/pratikshah" class="icon-social">
          <%= image_tag('icons/twt-blk.png', :size => "22x22") %>
          <%= image_tag('icons/twt-clr.png', :size => "22x22") %>
      </a></li>
      <li><a href="https://www.instagram.com/pratikshah_/" class="icon-social">
          <%= image_tag('icons/insta-blk.png', :size => "22x22") %>
          <%= image_tag('icons/insta-clr.png', :size => "22x22") %>
      </a></li>
      <li><a href="https://github.com/pratikmshah" class="icon-social">
          <%= image_tag('icons/github-blk.png', :size => "22x22") %>
          <%= image_tag('icons/github-clr.png', :size => "22x22") %>
      </a></li>
      <li><a href="https://www.linkedin.com/in/pratikmshah" class="icon-social">
          <%= image_tag('icons/lnkdn-blk.png', :size => "22x22") %>
          <%= image_tag('icons/lnkdn-clr.png', :size => "22x22") %>
      </a></li>
      <li><a href="mailto:pratik.t.shah@gmail.com?Subject=Hello" class="icon-social">
          <%= image_tag('icons/email-blk.png', :size => "22x22") %>
          <%= image_tag('icons/email-clr.png', :size => "22x22") %>
      </a></li>
    </ul>
  </div>
</footer>

